$colores:(
    "color-principal": yellow,
    "color-secundario": black,
    "color-terciario": #7F8176,
    "color-cuaternario":#FFFD62,
    "color-default":white,
    
);

$fuentes:(
    "secular":Secular One,
    "arial": Arial,
    "varela": Varela Round
);

$margin-auto: 0 auto;

$margin16-auto: 16px auto;

$display-flex: flex;